= form_for @source do |f|
  %fieldset
    - if @source.errors.any?
      #error_explanation
        %h2= "#{pluralize(@source.errors.count, "error")} prohibited this source from being saved:"
        %ul
          - @source.errors.full_messages.each do |msg|
            %li= msg

    - if @source.new_record?
      %fieldset
        %legend Fichier

        %p.field
          = f.file_field :file

        %p.field
          %label
            = check_box_tag :header
            ce fichier comporte un en-tête

    %p.field
      %label
        Label
        %br
        = f.text_field :label, placeholder: 'optionnel, utilisera le nom de votre fichier'

    %p.field
      %label
        Description
        %br
        = f.text_area :description, placeholder: 'Description multi-ligne optionnelle…'


  %ul.actions
    %li
      = f.submit 'Enregistrer'
    %li
      = link_to 'Retour', sources_path
