%h1 Données


- if @sources.any?
  %table.sources-list
    %thead
      %tr
        %th
          Données
        %th.list-date
          Ajouté le
        %th.list-actions
          Actions

    %tbody
      - @sources.each do |source|
        %tr
          %td
            = link_to source.label, source
          %td.list-date
            = l source.created_at
          %td.list-actions
            %ul.actions
              = action_link :preview, source_preview_path(source)
              = action_link :download, source_download_path(source)
              = action_link :edit, edit_source_path(source)
              = action_link :delete, source

- else
  %p Aucune donnée disponible.


%ul.actions
  %li
    = link_to 'Ajouter des données', new_source_path
