%h1 Fichiers


- if @sources.any?
  %table.sources
    %tr
      %th
        Fichier
      %th.created_at
        Ajouté le
      %th.actions
        Actions

    - @sources.each do |source|
      %tr
        %td.label
          = link_to source.label, source
        %td.date
          = l source.created_at
        %td.actions
          %ul.actions
            %li= link_to 'Télécharger', download_source_path(source)
            %li= link_to 'Modifier', edit_source_path(source)
            %li= link_to 'Supprimer', source, method: :delete, data: { confirm: 'Confirmez la suppression' }

- else
  %p Aucun fichier disponible.


%ul.actions
  %li
    = link_to 'Ajouter un fichier', new_source_path
