%h1
  Données
  = "« #{@source.label} »"

- if @source.description?
  %p
    %b Description :
    = simple_format @source.description


%h2 Fichier

%table
  %tbody
    %tr
      %th Nom d'origine
      %td= @source.file_name
    %tr
      %th Type
      %td= @source.mime_type
    %tr
      %th Jeu de caractère
      %td= @source.charset


%h2 Données

%table
  %tbody
    %tr
      %th Présence d'en-tête
      %td= @source.file_header ? 'Oui' : 'Non'
    %tr
      %th Nombre de lignes
      %td= @source.rows_count
    %tr
      %th Nombre de colonnes
      %td= @source.headers.count


%h2 En-tête

%table.source-headers-list
  %thead
    %tr
      %th Nom
      %th.list-type Type
  %tbody
    - @source.headers.each do |e|
      %tr
        %td
          = e.name
        %td.list-type
          = e.type_description.capitalize



%ul.actions
  %li= link_to 'Télécharger', source_download_path(@source)
  %li= link_to 'Modifier', edit_source_path(@source)
  %li= link_to 'Supprimer', @source, method: :delete, data: { confirm: 'Confirmez la suppression' }
  %li= link_to 'Retour', sources_path
