%h1
  Données
  = "« #{@source.label} »"


- if @source.description?
  %p
    %b Description :
    = simple_format @source.description

%p
  %b Fichier original :
  = '%s (%s, %s)' % [@source.file_name, @source.mime_type, @source.charset.upcase]

%p
  %b Le fichier comporte un en-tête :
  = @source.file_header ? 'Oui' : 'Non'

- if @source.headers.any?
  %table.source_header
    %caption En-tête :
    %thead
      %tr
        %th.source_header_key Nom
        %th.source_header_type Type
    %tbody
      - @source.headers.each do |e|
        %tr
          %td.source_header_key
            = e.name
          %td.source_header_type
            = e.type_description.capitalize


%ul.actions
  %li= link_to 'Télécharger', download_source_path(@source)
  %li= link_to 'Modifier', edit_source_path(@source)
  %li= link_to 'Supprimer', @source, method: :delete, data: { confirm: 'Confirmez la suppression' }
  %li= link_to 'Retour', sources_path
