%h1
  Fichier
  = @source.label

%p
  %b Description :
  = simple_format @source.description

%p
  %b Fichier :
  = '%s (%s)' % [@source.file_name, @source.mime_type]

%p
  %b En-tête :
  = @source.header ? 'Oui' : 'Non'

%ul.actions
  %li
    = link_to 'Retour', sources_path
