%h1
  Données
  = "« #{@source.label} »"

- if @source.description?
  %p
    %b Description :
    = simple_format @source.description


%h2 Fichier

%table
  %tbody
    %tr
      %th Nom d'origine
      %td= @source.file_name


%h2 Données

%table
  %tbody
    %tr
      %th Nombre de lignes
      %td= @source.rows_count
    %tr
      %th Nombre de colonnes
      %td= @source.headers.count


%h2 En-tête

= render 'headers/list', headers: @source.headers


= render '_actions'
