%h1
  Fichier
  = @source.label

%p
  %b Description :
  = simple_format @source.description

%p
  %b Fichier :
  = '%s (%s)' % [@source.file_name, @source.mime_type]

%table
  %caption En-tête
  %thead
    %tr
      %th Nom
      %th Type
  %tbody
    - @source.headers.each do |e|
      %tr
        %td.source_header_key
          = e.name
        %td.source_header_type
          = e.type_description.capitalize

%ul.actions
  %li
    = link_to 'Retour', sources_path
