%p Configuration des champs de la source de données

%table
  %thead
    %tr
      %th Champ
      %th Cible
      %th Ignorer
  %tbody
    - work.source.headers.each do |h|
      %tr
        %td
          = h.name
        %td
          = f.radio_button 'parameters_target', h.position,
            { name: 'work[parameters][target]' }
        %td
          = f.check_box "parameters_ignore_#{h.position}",
            { name: 'work[parameters][ignore][]' }, h.position, ''


%p Paramètres financiers :

%p.field
  %label
    Coût
    = f.number_field :parameters_cost, name: 'work[parameters][cost]',
      step: '0.01'
  %label
    Marge
    = f.number_field :parameters_margin, name: 'work[parameters][margin]',
      step: '0.01'
