= form_for @work, html: { class: 'form' } do |f|
  = f.hidden_field :operation_id, value: @work.operation.id

  %fieldset
    %legend
      Analyse
      = @work.operation.name

    %p.field
      %label
        Fichier
        %br
        = collection_select(:work, :source_id, @sources, :id, :label)


  %ul.actions
    %li
      = f.submit 'Démarrer'
