= form_for @work, html: { class: 'form' } do |f|
  = f.hidden_field :operation_id,     value: @work.operation.id
  = f.hidden_field :source_id,        value: @work.source.id        if @work.source
  = f.hidden_field :target_source_id, value: @work.target_source.id if @work.target_source

  %fieldset
    %legend
      Outil
      = @work.operation.name

    - unless @work.source

      .operation-help
        = markdown_format @work.operation.help_intent

      %p.field
        %label
          Données :
          %br
          = collection_select :work, :source_id, @sources, :id, :label

      - if @work.need_target?
        %p.field
          %label
            Données cible :
            %br
            = collection_select :work, :target_source_id, @sources, :id, :label

    - else
      .operation-help
        = markdown_format @work.operation.help_usage

      %p
        Données :
        = @work.source.label

      - if @work.target_source
        %p
          Données cible :
          = @work.target_source.label


      %fieldset
        %legend Paramètrage
        = render "form_#{@work.operation.ref}", f: f, work: @work


      %fieldset
        %legend Prévisualisation données
        = render 'previews/preview', source: @work.source, count: 5


  %ul.actions
    %li
      = f.button @work.source ? 'Démarrer' : 'Paramétrer'
