%h2 Contenu du fichier

%p
  Fichier :
  = link_to @work.source.label, source_path(@work.source)

%table
  %thead
    %tr
      %th
      %th= @work.source.label
  %tbody
    %tr
      %th Nombre d'enregistrements (lignes)
      %td.list-numeric= @work.source.rows_count
    %tr
      %th Taux de matching
      %td.list-numeric= format_percentage @work.results['match_rate']


%h2 Répartition du score

%em fréquence par tranche de score

%p.work-results-distribution.geoscore


/
  %h2
    Corrélation taux de réponse et
    = @work.operation.name

  %em taux de réponse moyen par tranche de score


:coffeescript
  $ ->
    chart = new DistributionChart '.work-results-distribution', [0..9].map (e) ->
      work_results.distribution[e] or 0

    chart.append()
