%table.works-list
  %thead
    %tr
      %th
        Données
      %th
        Outil
      %th.list-date
        Date
      %th.list-actions
        État

  %tbody
    - works.each do |work|
      %tr
        %td
          = work.source.label
        %td
          = work.operation.name
        %td.list-date
          = l work.created_at
        %td.list-actions
          - if work.status == :processed
            %ul.actions
              = action_link :report, work_path(work), custom_text: t(work.status)
          - else
            = t(work.status)
