%h2 Vos données

%p
  Fichier train :
  = link_to @work.source.label, source_path(@work.source)

%p
  Fichier application :
  = link_to @work.target_source.label, source_path(@work.target_source)

%p Le fichier retraité comporte :

%table
  %thead
    %tr
      %th
      %th= @work.source.label
      %th= @work.target_source.label
  %tbody
    %tr
      %th Nombre d'enregistrements (lignes)
      %td.list-numeric= @work.source.rows_count
      %td.list-numeric= @work.target_source.rows_count
    %tr
      %th Nombre de critères (colonnes)
      %td.list-numeric= @work.source.headers.count
      %td.list-numeric= @work.target_source.headers.count

%p
  Les données utilisées pour l'analyse sont :

- operation_headers = @work.source.headers - @work.parameters_as_headers(1)
= render 'headers/list', headers: operation_headers


%h2 L'analyse

- if @work.results['distribution']
  %h3 Répartition des effectifs

  %p.work-results-distribution.opticible

  %table
    %tbody
      %tr
        %th Borne mini :
        %td.list-numeric= format_percentage @work.results['min']
      %tr
        %th Borne maxi :
        %td.list-numeric= format_percentage @work.results['max']
      %tr
        %th Moyenne :
        %td.list-numeric= format_percentage @work.results['mean']


- if @work.results['means']
  %h3 Calculs des taux moyens par tranche d'effectifs

  %p
    Votre fichier a été découpé en 10 déciles, c'est à dire 10 groupes
    contenant chacun
    %b= @work.results['slice_size']
    enregistrements sur les
    %b= @work.target_source.rows_count
    enregistrements que comporte votre fichier
    %b= @work.target_source.label

  %table
    %thead
      %tr
        %th Décile
        %th.list-numeric Taux moyen
    %tbody
      - @work.results['means'].each_with_index do |e, i|
        %tr
          %th= "De #{i * 10} % à #{(i + 1) * 10} %"
          %td.list-numeric= format_percentage e

  %ul
    %li
      Le 1er décile correspond aux 10 % d'enregistrements de votre fichier
      = @work.target_source.label
      ayant la plus faible probabilité d'atteindre votre objectif.
    %li
      Le 10ème décile correspond aux 10 % d'enregistrements ayant la plus forte
      probabilité d'atteindre votre objectif.


- if @work.results['means_acc']
  %h3 Projection du taux

  %table
    %thead
      %tr
        %th Décile
        %th.list-numeric Taux projeté
    %tbody
      - @work.results['means_acc'].each_with_index do |e, i|
        %tr
          %th= "De #{(9 - i) * 10} % à #{((9 - i) + 1) * 10} %"
          %td.list-numeric= format_percentage e


%h2 Évaluation financière de l'optimisation


%h2 Validation du modèle



:coffeescript
  $ ->
    chart = new DistributionChart '.work-results-distribution', [0..99].map (e) ->
      work_results.distribution[e] or 0

    chart.append()
