%h1 Tableau de bord


- if @works.any?
  %h2 Vos dernières utilisations

  %table
    %thead
      %tr
        %th
          Données
        %th
          Outil
        %th.date
          Demande
        %th.date
          Traitement
        %th.date
          Fin

    %tbody
      - @works.each do |work|
        %tr
          %td
            = work.source.label
          %td
            = work.operation.name
          %td.date
            = l work.created_at
          %td.date
            = work.started_at ? l(work.started_at) : 'N/A'
          %td.date
            = work.processed_at ? l(work.processed_at) : 'N/A'


- if @operations.any?
  %h2 Actions rapides

  %ul
    - @operations.each do |operation|
      %li
        = link_to operation.name, new_work_path(operation_id: operation)
