%h1 Analyses en cours


- if @works.any?
  %table
    %thead
      %tr
        %th
          Analyse
        %th
          Fichier
        %th.date
          Demande
        %th.date
          Traitement
        %th.date
          Fin

    %tbody
      - @works.each do |work|
        %tr
          %td
            = work.operation.name
          %td
            = work.source.label
          %td.date
            = work.created_at
          %td.date
            = work.started_at || 'N/A'
          %td.date
            = work.processed_at || 'N/A'
