%h1
  = 'Résultat analyse %s' % @work.operation.name


%p
  Date d'exécution de l'analyse :
  = l @work.created_at


- if @work.results
  = javascript_include_tag 'charts'
  :javascript
    work_results = JSON.parse('#{j @work.results.to_json}')
  = render @work.operation.ref, work: @work
