= form_for @user, html: { class: 'form' } do |f|
  %fieldset
    - if @email_field_hide
      = f.hidden_field :email
    - else
      %p.field
        = f.label :email
        %br
        = f.email_field :email

    %p.field
      = f.label :password
      %br
      = f.password_field :password

    %p.field
      = f.label :password_confirmation
      %br
      = f.password_field :password_confirmation

    %p.field
      = f.label :name
      %br
      = f.text_field :name

    %p.field
      = f.label :company
      %br
      = f.text_field :company

    %p.field
      = f.label :tel_number
      %br
      = f.text_field :tel_number, placeholder: '+33…'

    %p.field
      = f.check_box :terms
      = f.label :terms do
        J'accepte les
        = link_to 'conditions générales d\'utilisation', terms_path


    - if @user.errors.any?
      .form-errors
        %p= t('errors_count', count: @user.errors.size)
        %ul
          - @user.errors.full_messages.each do |e|
            %li= e


  %ul.actions
    %li
      = f.button 'Créer mon compte'
