= form_for @data_file do |f|
  %fieldset
    - if @data_file.errors.any?
      #error_explanation
        %h2= "#{pluralize(@data_file.errors.count, "error")} prohibited this data_file from being saved:"
        %ul
          - @data_file.errors.full_messages.each do |msg|
            %li= msg

    %p.field
      %label
        Label
        %br
        = f.text_field :label

    %p.field
      %label
        Description
        %br
        = f.text_area :description

    %fieldset
      %legend Fichier

      %p.field
        %label
          - unless @data_file.new_record? || !@data_file.file?
            = "Modifier le fichier actuel (#{@data_file.file_name})"
            %br
          = f.file_field :file

      %p.field
        = f.check_box :header
        = f.label :header, 'ce fichier comporte un en-tête'

  %ul.actions
    %li
      = f.submit 'Enregistrer'
    %li
      = link_to 'Retour', data_files_path
