%h1
  Listing
  = @resource.plural_name


- if @collection.empty?
  %p No record found.

- else
  %table.list
    %thead
      %tr
        %th
          Record
        - @resource.list_attrs.each do |k, v|
          %th= k.capitalize
        %th.list-date
          Created at
        %th.list-date
          Updated at
        - if @resource.edit? || @resource.destroy?
          %th.list-actions
            Actions

    %tbody
      - @collection.each do |e|
        %tr
          %td
            = link_to e, object_path(e)
          - @resource.list_attrs.each do |k, v|
            %th= v.call e
          %td.list-date
            = e.created_at
          %td.list-date
            = e.updated_at
          - if @resource.edit? || @resource.destroy?
            %td.list-actions
              %ul.actions
                - if @resource.edit?
                  = action_link :edit, edit_path(e)
                - if @resource.destroy?
                  = action_link :delete, object_path(e)


%ul.actions
  - if @resource.new?
    %li
      = link_to "New #{@resource.singular_name}", new_path(@resource)
  %li
    = link_to 'Back', admin_path
