%h1
  Listing
  = @model.plural_name


- if @collection.empty?
  %p No record found.

- else
  %table.list
    %thead
      %tr
        %th
          Record
        %th.list-date
          Created
        %th.list-actions
          Actions

    %tbody
      - @collection.each do |e|
        %tr
          %td
            = link_to e, object_path(e)
          %td.list-date
            = e.created_at
          %td.list-actions
            %ul.actions
              = action_link :edit, edit_path(e)
              = action_link :delete, object_path(e)


%ul.actions
  %li
    = link_to "New #{@model.singular_name}", new_path(@model)
  %li
    = link_to 'Back', admin_path
