%table.offers-list
  %thead
    %tr
      %th
      - @offers.each do |e|
        %th(class="#{e.ref}")= e.name

  %tbody
    %tr.price
      %th(scope='row') Abonnement mensuel
      - @offers.each do |e|
        %td(class="#{e.ref}")= number_to_currency e.price

    - %w[A B C D E F].each do |feature|
      %tr
        %th(scope='row')
          = "Fonctionnalité #{feature}"
        - @offers.each do |e|
          %td(class="#{e.ref}")= svg_icon 'check', 'oui'

    %tr
      %th(scope='row')
      - @offers.each do |e|
        %td(class="#{e.ref} action")
          %button Essai gratuit
