%table.offers-list
  %thead
    %tr
      %th
      - @offers.each do |e|
        %th(class="#{e.ref}")= e.name

  %tbody
    %tr.price
      %th(scope='row') Abonnement mensuel
      - @offers.each do |e|
        %td(class="#{e.ref}")= number_to_currency e.price, precision: 0

    %tr.quota
      %th(scope='row') Volume mensuel données
      - @offers.each do |e|
        %td(class="#{e.ref}")
          %b
            = number_with_delimiter e.quota

    - Offer::FEATURES.each do |_, feature|
      %tr
        %th(scope='row')
          = feature[:name]
        - @offers.each do |e|
          %td(class="#{e.ref}")
            - if feature[e.ref.to_sym]
              = svg_icon :check, 'oui'
            - else
              = svg_icon :uncheck, 'non'
