= form_for @source do |f|
  %fieldset
    %legend
      En-tête du fichier
      = '« %s »' % [@source.label]

    - if @source.errors.any?
      #error_explanation
        %h2= "#{pluralize(@source.errors.count, "error")} prohibited this source from being saved:"
        %ul
          - @source.errors.full_messages.each do |msg|
            %li= msg

    %table
      %thead
        %tr
          %th Nom
          %th Type
      %tbody
        - @source.editable_header.each do |k, v|
          %tr
            %td.source_header_key
              = text_field_tag(:source_header_key_text, k)
            %td.source_header_type
              = select_tag(:source_header_type, options_for_select(Source::TYPES))


  %ul.actions
    %li
      = f.submit 'Enregistrer'
    %li
      = link_to 'Retour', sources_path
