= form_for @source, html: { class: 'form' } do |f|
  %fieldset
    %legend
      En-tête pour
      = '« %s »' % [@source.label]

    = render 'form_fields', f: f


  %ul.actions
    %li
      = f.submit 'Enregistrer'
    %li
      = link_to 'Retour', sources_path
