= form_for @data_file do |f|
  %fieldset
    %legend
      En-tête du fichier
      = '« %s »' % [@data_file.label]

    - if @data_file.errors.any?
      #error_explanation
        %h2= "#{pluralize(@data_file.errors.count, "error")} prohibited this data_file from being saved:"
        %ul
          - @data_file.errors.full_messages.each do |msg|
            %li= msg

  %ul.actions
    %li
      = f.submit 'Enregistrer'
    %li
      = link_to 'Retour', data_files_path
