= form_for @source, html: { class: 'form' } do |f|
  %fieldset
    %legend
      En-tête pour
      = '« %s »' % [@source.label]

    %table
      %thead
        %tr
          %th Nom
          %th Type
      %tbody
        = f.fields_for :headers do |hf|
          %tr
            %td.source_header_key
              = hf.text_field :name
            %td.source_header_type
              = hf.select(:type, @types.map { |k, v| [v.capitalize, k] })


  %ul.actions
    %li
      = f.submit 'Enregistrer'
    %li
      = link_to 'Retour', sources_path
