%h1
  Nouvel export des données
  = "« #{@source.label} »"


= form_for [:source, @export], html: { class: 'form' } do |f|
  %fieldset
    %p.field
      = f.check_box :header
      = f.label :header

    %p.field
      = f.label :charset
      %br
      = f.select :charset, @export.charsets.map { |e| [e.upcase, e] }

    %p.field
      = f.label :separator
      %br
      = f.select :separator,
        @export.separators.map { |k, v| ["#{t v} #{k.inspect}", k] }

    %p.field
      = f.label :file_name
      %br
      = f.text_field :file_name


    - if @export.errors.any?
      .form-errors
        %p= t('errors_count', count: @export.errors.size)
        %ul
          - @export.errors.full_messages.each do |e|
            %li= e


  %ul.actions
    %li
      = f.button 'Exporter'
    %li
      = link_to 'Retour', source_exports_path(@source)
