!!!
%html(lang='fr')
  %head
    %meta(charset='utf-8')
    %title OptiDM

    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    = embed_svg_sprite 'icons.svg'

    .header_wrapper
      %header#header
        = link_to image_tag('logo.png', size: '246x96', alt: 'OptiDM by DATACUBE'),
            '/', id: 'logo'

        %p
          +33 1 23 45 67 89

        - if !current_user?
          %nav
            %ul
              = action_link :signin, signin_path, append_text: true
        - else
          %nav
            %ul
              %li
                = link_to 'Tableau de bord', dashboard_path
              %li
                = link_to 'Données', sources_path
              %li
                = link_to 'Outils', operations_path
              %li
                = link_to 'Résultats', works_path


    %main
      - flash.each do |name, message|
        .flash(class="flash-#{name}")
          %p= message

      = yield


    .footer_wrapper
      %footer#footer
        %ul
          %li
            = action_link :trainings, trainings_path, append_text: true
          %li
            = action_link :account, dashboard_path, append_text: true
          %li
            = action_link :contact, dashboard_path, append_text: true


    = javascript_include_tag_prod 'zopim'
