!!!
%html(lang='fr')
  %head
    %meta(charset='utf-8')
    %title
      DATACUBE - Améliorez votre prospection commerciale et vos campagnes
      Marketing (version bêta)

    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body(class="#{page_class}")
    = embed_svg_sprite 'icons.svg'

    .header_wrapper
      %header#header
        = link_to image_tag('logo.svg', height: '96', alt: 'DATACUBE'),
          (current_user? ? dashboard_path : root_path ),
          id: 'logo'

        %p
          09 72 37 84 47

        - if current_user?
          %nav
            %ul
              = action_link :dashboard, dashboard_path, append_text: true
              = action_link :data, sources_path, append_text: true
              = action_link :tools, operations_path, append_text: true
              = action_link :results, works_path, append_text: true
              = action_link :signout, signout_path, append_text: true
        - else
          %nav
            %ul
              = action_link :signin, signin_path, append_text: true


    .main_wrapper
      %main#main
        - flash.each do |name, message|
          .flash(class="flash-#{name}")
            %p= message

        = yield


    .footer_wrapper
      %footer#footer
        %ul.contact-links
          - if current_user?
            %li
              = action_link :trainings, trainings_path, append_text: true
            %li
              = action_link :account, dashboard_path, append_text: true
          %li
            = link_to 'Facebook', 'https://www.facebook.com/DATACUBE.FR'
          %li
            = action_link :contact, 'mailto:contact@datacube.fr', append_text: true

        %p.contact-address
          %b Adresse
          %br
          DATACUBE
          %br
          18 rue des caillouins
          %br
          14123 Cormelles-le-Royal
          %br
          France

        %p.contact-phone
          %b Téléphone
          09 72 37 84 46

        %hr

        %ul
          %li
            Service édité par DATACUBE
          %li
            Design :
            = link_to 'HTML5 UP', 'http://html5up.net/'


    = javascript_include_tag_prod 'zopim'
