!!!
%html(lang='fr')
  %head
    %meta(charset='utf-8')
    %title DATACUBE

    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body(class="#{page_class}")
    = embed_svg_sprite 'icons.svg'

    .header_wrapper
      %header#header
        = link_to image_tag('logo.svg', height: '96', alt: 'DATACUBE'),
          (current_user? ? dashboard_path : root_path ),
          id: 'logo'

        %p
          +33 1 23 45 67 89

        - if current_user?
          %nav
            %ul
              = action_link :dashboard, dashboard_path, append_text: true
              = action_link :data, sources_path, append_text: true
              = action_link :tools, operations_path, append_text: true
              = action_link :results, works_path, append_text: true
              = action_link :signout, signout_path, append_text: true
        - else
          %nav
            %ul
              = action_link :signin, signin_path, append_text: true


    .main_wrapper
      %main#main
        - flash.each do |name, message|
          .flash(class="flash-#{name}")
            %p= message

        = yield


    .footer_wrapper
      %footer#footer
        %ul
          - if current_user?
            %li
              = action_link :trainings, trainings_path, append_text: true
            %li
              = action_link :account, dashboard_path, append_text: true
          %li
            = action_link :contact, dashboard_path, append_text: true


    = javascript_include_tag_prod 'zopim'
